html,
body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    /* Prevent horizontal scroll */
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #6497b1;
    color: white;
    padding: 5px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
}

.main-content {
    display: flex;
    margin-top: 20px;
    /* Adjust to account for header height */
    transition: margin-left 0.3s ease, width 0.3s ease;
    /* Smooth transition for margin and width */
}

.sidebar {
    width: 250px;
    background-color: #fff;
    color: #000;
    position: fixed;
    top: 64px;
    /* Start below the header */
    left: 0;
    height: calc(100vh - 60px);
    /* Full height minus header height */
    z-index: 1000;
    transition: transform 0.3s ease;
    transform: translateX(-250px);
    /* Initially hidden */
    overflow-y: auto;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
}

.sidebar.show {
    transform: translateX(0);
    /* Show on toggle */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li a {
    display: block;
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
}

.sidebar ul li a:hover {
    background-color: #6497b1;
}

.content-wrapper {
    flex: 1;
    padding: 20px;
    transition: margin-left 0.3s ease, width 0.3s ease;
}

.content-wrapper.expanded {
    margin-left: 227px;
    /* Adjust for sidebar width */
}

.footer {
    background-color: #080e1193;
    color: white;
    text-align: center;
    width: 100%;
    position: relative;
    margin-top: auto;
    z-index: 100000;
}

.footer h5 {
    margin-bottom: 20px;
    font-size: 1.25rem;
    font-weight: 600;
}

.footer p {
    margin-bottom: 10px;
}

.footer a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 5px 0;
}

.footer a:hover {
    text-decoration: underline;
}

#menu-toggle {
    display: block;
    /* Show on both mobile and desktop */
    left: 20px;
    top: 15px;
    z-index: 1001;
    cursor: pointer;
}

.bottom-nav {
    background-color: #6497b1;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.bottom-nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.bottom-nav a:hover {
    text-decoration: underline;
}

@media (min-width: 769px) {
    .content-wrapper {
        margin-left: 0;
        /* No offset on desktop */
    }
}

@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-250px);
        /* Hidden on mobile */
    }

    .sidebar.show {
        transform: translateX(0);
        /* Show on toggle */
    }

    .content-wrapper {
        margin-left: 0;
        /* No offset on mobile */
    }
}

.calendar {
    position: relative;
    padding-top: 6px;
}

.calendar .btn {
    min-width: 50px;
    max-width: 50px;
    background-color: #1e6588;
    color: white;
    font-weight: 500;
    font-size: 18px;
    border-radius: unset;
}

.calendar .btn.btn-dot {
    position: relative;
}

.calendar .btn.btn-dot {
    border-left: #fff solid 1px;
}

.calendar .btn.arrow-left {
    border-radius: 4px 0px 0px 4px;
}

.calendar .btn.arrow-right {
    border-radius: 0px 4px 4px 0px;
}

.calendar .btn.btn-dot span {
    font-weight: 100;
    height: 10px;
    width: 10px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 38%;
}

.calendar .date-box {
    background-color: #fff;
    color: #000;
    font-weight: 500;
    max-height: 40px;
    padding-top: 7px;
    flex-grow: 1;
}

header .logo {
    font-weight: 700;
    font-size: large;
    padding-top: 0.3rem;
}

header .menu .menu-item {
    padding: 5px 0
}

header .menu .menu-item:not(.logo) {
    border-right: #fff solid 1px;
    padding-right: 10px;
}

header .menu .menu-item .hamburger {
    font-size: 20px;
}

header .menu .menu-item:is(.logo) {
    padding-top: 14px;
    padding-left: 10px;
}

.menu-url {
    max-width: 25%;
    height: auto;
}

header .main-menu {
    padding-top: 5px;
}

header .main-menu p.menu-text {
    font-size: 13px;
    margin-bottom: unset;
    font-weight: 700;
}

header .main-menu a {
    text-decoration: none;
}

.sidebar .sidebar-item .span-type:before {
    content: 'a';
}

.tag--common {
    color: rgb(188, 174, 138);
    padding: 0 5px;
    border: 1px solid rgb(188, 174, 138);
}

.sidebar .sidebar-list-item:last-child {
    border-bottom-width: 1px;
}

.sidebar .sidebar-list-item {
    padding: unset;
}

.sidebar .sidebar-list-item .sidebar-item .item-detail {
    padding: 10px 10px 10px;
    flex-grow: 2;
}

.sidebar .sidebar-list-item .sidebar-item .item-tag {
    font-size: 12px;
    background-color: rgba(255, 0, 0, 0.288);
}

.sidebar .sidebar-list-item .sidebar-item .item-tag p {
    padding: 5px;
    margin-bottom: unset;
}

.sidebar .sidebar-list-item .sidebar-item .item-tag .title {
    width: 20px;
}

.sidebar .sidebar-list-item .title::before {
    position: relative;
}

.sidebar .sidebar-list-item .title::before {
    content: "\2022";
    position: absolute;
    left: 10px;
    top: 5px;
    color: black;
    font-size: 1.5rem;
}

.time-bar {
    background-color: #f8f9fa;
    width: 100%;
    /* text-align: center; */
    position: relative;
    top: 60px;
    /* Position just below the header */
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
    white-space: nowrap;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
}

.time-bar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.time-bar .hour {
    display: inline-block;
    width: 245px;
    text-align: center;
    font-size: 0.9rem;
    color: #343a40;
    border-left: 1px solid #ddd;
    padding: 5px 0;
}

.time-bar .hour:first-child {
    border-left: none;
}

.red-line {
    position: fixed;
    width: 2px;
    background: red;
    top: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-1px); /* Center the line */
    z-index: 10;
    left: 251px;
}

.fc-resource-area {
    display: none;
}

.fc-theme-standard td {
    border: unset;
}

.fc .fc-timeline-slot-minor {
    border-style: unset;
}

.fc .fc-resource-timeline-divider {
    cursor: unset;
    width: 3px;
}

.fc .fc-cell-shaded, .fc .fc-day-disabled {
    background: unset;
}

.fc-scrollgrid.fc-scrollgrid-liquid {
    border: unset;
}

.fc-timeline-header > table {
    border: 1px solid;
}

.fc .fc-timeline-slot-cushion {
    padding: 10px 10px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.custom-event-list-item {
    padding: 10px;
    border-radius: 5px;
}

.fc-h-event .fc-event-main {
    color:inherit
}

.reservation-style-1 {
    height: 10px;
    width: 10px;
    border: 1px solid red;
    background: currentColor;
    border-radius: 50%;
    position: relative;
    top: 8px;
}

.reservation-style-2 {
    height: 10px;
    width: 10px;
    border: 1px solid rgba(0, 128, 0, 0.521);
    background: rgba(0, 128, 0, 0.521);
    border-radius: 50%;
    position: relative;
    top: 8px;
}

.reservation-style-3 {
    height: 10px;
    width: 10px;
    border: 1px solid rgba(0, 30, 128, 0.534);
    background: rgba(0, 30, 128, 0.534);
    border-radius: 50%;
    position: relative;
    top: 8px;
}

.mobile {
    display: none;
}

.fc-scroller-liquid-absolute {
    overflow: hidden !important;
}

.fc-license-message {
    display: none;
}

@media (max-width: 1280px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }
    
    .mobile-flex {
        display: flow-root;
    }
    .main-content.mobile-flex {
        margin-top: 58px;
    }

    .mobile .calendar .btn {
        min-width: 50px;
        max-width: 50px;
        background-color: #fff;
        color: black;
        font-weight: 500;
        font-size: 18px;
        border-radius: unset;
    }
    
    .mobile .calendar .btn.btn-dot {
        position: relative;
    }
    
    .mobile .calendar .btn.btn-dot {
        border-left: unset;
    }

    .mobile .calendar .btn {
        border: 1px solid black;
    }
    
    .mobile .calendar .btn.btn-dot span {
        font-weight: 100;
        height: 10px;
        width: 10px;
        background-color: #000;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        top: 40%;
        left: 38%;
    }
    
    .mobile .calendar .date-box {
        background-color: #fff;
        color: #000;
        font-weight: 500;
        max-height: 40px;
        padding-top: 10px;
        flex-grow: 1;
        height: 20px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
}

header .logo{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
}

li.list-group-item.group-item {
    padding: 10px 107px;
}
